<!-- <div class="ui-g">
  <div class="ui-g-6">
    {{inspectionResults[0].vehicleId}}
  </div>
  <div class="ui-g-3 text-right">
    <p-button label="{{inspectionResults[0].result}}"></p-button>
  </div>
  <div class="ui-g-3">
    <p-button label="EXPORT (.PDF)"></p-button>
  </div>
</div>
<div class="ui-g">
  <div class="ui-g-6">
    <p><i class="fa fa-car " aria-hidden="true"></i>
      {{vehicles[0].rego}} ({{vehicles[0].make}} {{vehicles[0].model}})</p>
  </div>
</div>
<mat-divider></mat-divider>
<div class="ui-g">
  <div class="ui-g-4">Performed by</div>
  <div class="ui-g-8">{{inspections[0].performedBy}}</div>
  <div class="ui-g-4">Inspection location</div>
  <div class="ui-g-8">{{inspections[0].location}}</div>
  <div class="ui-g-4">Odometer</div>
  <div class="ui-g-8">{{inspections[0].odometer}}</div>
  <div class="ui-g-4">Inspection plan</div>
  <div class="ui-g-8">{{inspections[0].inspectionPlanId}}</div>
  <div class="ui-g-4">Result</div>
  <div class="ui-g-8">{{inspections[0].result}}</div>
</div>
<mat-divider></mat-divider>

<div class="ui-g" *ngIf=inspectionResults[0].bodyCheckResult>
  <div class="ui-g-3">
    <span *ngIf="inspectionResults[0].bodyCheckResult === 'Pass'"><i class="pi pi-check"></i>
    </span>
    <span *ngIf="inspectionResults[0].bodyCheckResult === 'Fail'"><i class="pi pi-info"></i>
    </span>
    {{inspectionResults[0].bodyCheckResult}}
  </div>
  <div class="ui-g-6">Body check <br />
    {{inspectionResults[0].bodyCheckNote}}
  </div>
  <div class="ui-g-3 text-right">
    {{(inspectionResults[0].bodyCheckEnd - inspectionResults[0].bodyCheckStart) / 1000}}sec
  </div>
</div>
<mat-divider *ngIf=inspectionResults[0].bodyCheckResult></mat-divider>

<div class="ui-g" *ngIf=inspectionResults[0].engineOilCheckResult>
  <div class="ui-g-3">
    <span *ngIf="inspectionResults[0].engineOilCheckResult === 'Pass'"><i class="pi pi-check"></i>
    </span>
    <span *ngIf="inspectionResults[0].engineOilCheckResult === 'Fail'"><i class="pi pi-info"></i>
    </span>
    {{inspectionResults[0].engineOilCheckResult}}
  </div>
  <div class="ui-g-6">Engine oil check <br />
    {{inspectionResults[0].engineOilCheckNote}}
  </div>
  <div class="ui-g-3 text-right">
    {{(inspectionResults[0].engineOilCheckEnd - inspectionResults[0].engineOilCheckStart) / 1000}}sec
  </div>
</div>
<mat-divider *ngIf=inspectionResults[0].engineOilCheckResult></mat-divider>

<div class="ui-g" *ngIf=inspectionResults[0].lightsCheckResult>
  <div class="ui-g-3">
    <span *ngIf="inspectionResults[0].lightsCheckResult === 'Pass'"><i class="pi pi-check"></i>
    </span>
    <span *ngIf="inspectionResults[0].lightsCheckResult === 'Fail'"><i class="pi pi-info"></i>
    </span>
    {{inspectionResults[0].lightsCheckResult}}
  </div>
  <div class="ui-g-6">Lights check <br />
    {{inspectionResults[0].lightsCheckNote}}
  </div>
  <div class="ui-g-3 text-right">
    {{(inspectionResults[0].lightsCheckEnd - inspectionResults[0].lightsCheckStart) / 1000}}sec
  </div>
</div>
<mat-divider *ngIf=inspectionResults[0].lightsCheckResult></mat-divider>

<div class="ui-g" *ngIf=inspectionResults[0].petrolCheckResult>
  <div class="ui-g-3">
    <span *ngIf="inspectionResults[0].petrolCheckResult === 'Pass'"><i class="pi pi-check"></i>
    </span>
    <span *ngIf="inspectionResults[0].petrolCheckResult === 'Fail'"><i class="pi pi-info"></i>
    </span>
    {{inspectionResults[0].petrolCheckResult}}
  </div>
  <div class="ui-g-6">Petrol check <br />
    {{inspectionResults[0].petrolCheckNote}}
  </div>
  <div class="ui-g-3 text-right">
    {{(inspectionResults[0].petrolCheckEnd - inspectionResults[0].petrolCheckStart) / 1000}}sec
  </div>
</div>
<mat-divider *ngIf=inspectionResults[0].petrolCheckResult></mat-divider>
<div class="ui-g" *ngIf=inspectionResults[0].carwashCheckResult>
  <div class="ui-g-3">
    <span *ngIf="inspectionResults[0].carwashCheckResult === 'Pass'"><i class="pi pi-check"></i>
    </span>
    <span *ngIf="inspectionResults[0].carwashCheckResult === 'Fail'"><i class="pi pi-info"></i>
    </span>
    {{inspectionResults[0].carwashCheckResult}}
  </div>
  <div class="ui-g-6">Carwash check <br />
    {{inspectionResults[0].carwashCheckNote}}
  </div>
  <div class="ui-g-3 text-right">
    {{(inspectionResults[0].carwashCheckEnd - inspectionResults[0].carwashCheckStart) / 1000}}sec
  </div>
</div>
<mat-divider *ngIf=inspectionResults[0].carwashCheckResult></mat-divider>

<div class="ui-g">
  <div class="ui-g-6"> {{inspectionResults[0].petrolCheckEnd | date:'medium' }}
  </div>
  <div class="ui-g-6 text-right">
    <div style="height: 300px">Signature
    </div>
    <div>
      {{inspections[0].performedBy}}
    </div>
  </div>
</div> -->
