<app-nav-menu></app-nav-menu>

<div *ngIf="isLoading">
  <p-progressSpinner></p-progressSpinner>
</div>

<div *ngIf="!isLoading">
  <p-card header="Inspection" *ngIf="inspection" [style]="{width: '600px'}">
    <div class="p-grid p-justify-end">
      <div class="p-col-4">
        <a [routerLink]='["/"]'>
          <i class="pi pi-chevron-left"></i> Back to inspection list
        </a>
      </div>
      <div class="p-col-8 text-right" style="position:relative;top:-50px">
        <p-button *ngIf="inspection.status==='Pass'" label="PASS"></p-button>
        <p-button *ngIf="inspection.finalStatus==='Fail'" label="MARK AS REPAIRED"
          (click)="markAsRepaired(inspection._id)">
        </p-button>
        <p-button *ngIf="inspection.finalStatus==='Repaired'" icon="pi pi-check" label="REPAIRED"
          (click)="markAsFailed(inspection._id)">
        </p-button>
        &nbsp;
        <p-button label="EXPORT (.PDF)"></p-button>
      </div>
    </div>
    <div class="ui-g">
      <div class="ui-g-6">
        <h5><i class="fa fa-car " aria-hidden="true"></i>
          {{inspection.vehicle.rego}} ({{inspection.vehicle.make}} {{inspection.vehicle.model}})</h5>
      </div>
    </div>
    <mat-divider></mat-divider>
    <div class="ui-g">
      <div class="ui-g-4">Performed by</div>
      <div class="ui-g-8">{{inspection.performedBy}}</div>
      <div class="ui-g-4">Inspection location</div>
      <div class="ui-g-8">{{inspection.location}}</div>
      <div class="ui-g-4">Odometer</div>
      <div class="ui-g-8">{{inspection.odometer}} km</div>
      <div class="ui-g-4">Inspection plan</div>
      <div class="ui-g-8">{{inspection.plan.title}}</div>
      <div class="ui-g-4">Result</div>
      <div class="ui-g-8 limegreen" *ngIf="inspection.status === 'Pass'">
        Pass {{inspection.result.length}}/{{inspection.result.length}}</div>
      <div class="ui-g-8 tomato" *ngIf="inspection.status === 'Fail'">
        Fail {{getFailCount(inspection)}}/{{inspection.result.length}}</div>
    </div>
    <mat-divider></mat-divider>

    <div class="ui-g" *ngFor="let result of inspection.result">
      <div class="ui-g-3">
        <span *ngIf="result.result === 'Pass'">
          <i class="fas fa-check-square limegreen" style="font-size: 1.4rem"></i>
          Pass
        </span>
        <span *ngIf="result.result === 'Fail'">
          <i class="fas fa-exclamation-triangle tomato" style="font-size: 1.09rem"></i>
          Fail
        </span>
      </div>
      <div class="ui-g-6">{{result.item.title}} <br />
        <span *ngIf="result.note">
          <small class="grey">Note: {{result.note}}</small>
        </span>
        <span *ngIf="result.img">
          <small class="grey">Note: {{result.img}}</small>
        </span>
      </div>
      <div class="ui-g-3 text-right">
        {{result.duration}} sec
      </div>
    </div>
    <mat-divider></mat-divider>

    <div class="ui-g">
      <div class="ui-g-6"> {{inspection.endTime | date:'medium' }}
      </div>
      <div class="ui-g-6 text-right">
        <div style="height: 300px">Signature
        </div>
        <div>
          {{inspection.performedBy}}
        </div>
      </div>
      <div class="ui-g-6">
      </div>
      <div class="ui-g-3">
      </div>
      <div class="ui-g-3 text-right">
        <button pButton type="button" class="ui-button-warning" label="DELETE"
          (click)="deleteInspection(inspection._id)"></button>
      </div>
    </div>
  </p-card>
</div>
