/* You can add global styles to this file, and also import other style files */
.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.center {
  margin:auto;
}

.mat-divider {
  color: lightgray;
}

.p-grid {
  margin-top: 0 !important;
}

p {
  margin-bottom: 1rem !important;
}

.grey {
  color: #797f82;
}

.tomato {
  color: tomato;
}

.limegreen {
  color: limegreen;
}

.red {
  color: red;
}

.orange {
  color: orange;
}

.ui-multiselect {
  display: block !important;
}

.ui-picklist .ui-picklist-list{
  height:500px !important;
}

.ui-tree {
  width: 100% !important;
}

[type=button], [type=reset], [type=submit], button {
  -webkit-appearance: none !important;
}


