<p-progressSpinner *ngIf="isLoading"></p-progressSpinner>

<p-tabView *ngIf="!isLoading">
  <p-tabPanel header="Inspections">
    <p>Select base</p>
    <p>Drop down list</p>
    <p>Select vehicle group</p>
    <p>Drop down list</p>
    <div class="p-grid">
      <div class="p-col-12 p-md-6 p-lg-3">A</div>
      <div class="p-col-12 p-md-6 p-lg-3">B</div>
      <div class="p-col-12 p-md-6 p-lg-3">C</div>
      <div class="p-col-12 p-md-6 p-lg-3">D</div>
    </div>

    <p-table [columns]="inspectionCols" [value]="inspections" [responsive]="true" [autoLayout]="true"
      sortField="startTime" sortOrder="-1">
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th class="text-center" *ngFor="let col of columns" [pSortableColumn]="col.field"
            [ngStyle]="{'min-width': col.width}">
            {{col.header}}
            <p-sortIcon [field]="col.field" ariaLabel="Activate to sort"
              ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order">
            </p-sortIcon>
          </th>
          <th>View</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-inspection let-columns="columns">
        <tr>
          <td>
            {{inspection.plan.title}}
          </td>
          <td>
            <span *ngIf="inspection.status === 'Fail'">
              <i class="fas fa-exclamation-triangle tomato" style="font-size: 1.09rem"></i>
              {{getFailCount(inspection)}}/{{inspection.result.length}} Fail
            </span>
            <span *ngIf="inspection.status === 'Pass'">
              <i class="fas fa-check-square limegreen" style="font-size: 1.4rem"></i>
              {{inspection.result.length}}/{{inspection.result.length}} Pass
            </span>
          </td>
          <td>
            {{inspection.vehicle.rego}}
          </td>
          <td>
            {{inspection.startTime | date: 'medium'}}
          </td>
          <td>
            {{inspection.odometer}} km
          </td>
          <td>
            {{inspection.performedBy}}
          </td>
          <td>
            {{inspection.duration}} s
          </td>
          <td class="text-center">
            <p-button label="View" (onClick)="viewInspection(inspection)">
            </p-button>
          </td>

        </tr>
      </ng-template>
    </p-table>

  </p-tabPanel>
  <p-tabPanel header="Inspection plans">
    <div class="p-grid p-justify-between">
      <div class="p-col-2">
        <p>Select vehicle</p>
      </div>
      <div class="p-col-6 text-right">
        <p-button label="CREATE NEW PLAN" [routerLink]='["/new-plan"]' icon="pi pi-plus"></p-button>
      </div>
    </div>
    <p>All vehicles Drop down list</p>
    <p-table [columns]="planCols" [value]="plans" [responsive]="true" [autoLayout]="true" sortMode="multiple">
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th class="text-center" *ngFor="let col of columns" [pSortableColumn]="col.field">
            {{col.header}}
            <p-sortIcon [field]="col.field" ariaLabel="Activate to sort"
              ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order">
            </p-sortIcon>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-plan let-columns="columns">
        <tr>
          <td>
            {{plan.title}}
          </td>
          <td>
            <p-panel header="{{plan.vehicles.length}} vehicles" [collapsed]="true" [toggleable]="true">
              <span *ngFor="let vehicle of plan.vehicles">
                {{vehicle.rego}} {{vehicle.make}} {{vehicle.model}}<br />
              </span>
            </p-panel>
          </td>
          <td>
            {{plan.frequency}}
          </td>
          <td>
            {{plan.lastModified | date:'medium'}}
          </td>
          <td class="text-center">
            <p-button label="Edit" [routerLink]='["/plans", plan._id]'>
            </p-button>
          </td>

        </tr>
      </ng-template>
    </p-table>
  </p-tabPanel>
</p-tabView>

<p-dialog header="Inspection" *ngIf="inspection" [(visible)]="inspectionModalDisplay" [modal]="true"
  [style]="{width: '600px'}">
  <div class="ui-g">
    <div class="ui-g-6">
      <h5><i class="fa fa-car " aria-hidden="true"></i>
        {{inspection.vehicle.rego}} ({{inspection.vehicle.make}} {{inspection.vehicle.model}})</h5>
    </div>
    <div class="ui-g-3 text-right">
      <p-button label="{{inspection.status}}"></p-button>
    </div>
    <div class="ui-g-3 text-right">
      <p-button label="EXPORT (.PDF)"></p-button>
    </div>
  </div>
  <mat-divider></mat-divider>
  <div class="ui-g">
    <div class="ui-g-4">Performed by</div>
    <div class="ui-g-8">{{inspection.performedBy}}</div>
    <div class="ui-g-4">Inspection location</div>
    <div class="ui-g-8">{{inspection.location}}</div>
    <div class="ui-g-4">Odometer</div>
    <div class="ui-g-8">{{inspection.odometer}} km</div>
    <div class="ui-g-4">Inspection plan</div>
    <div class="ui-g-8">{{inspection.plan.title}}</div>
    <div class="ui-g-4">Result</div>
    <div class="ui-g-8 limegreen" *ngIf="inspection.status === 'Pass'">
      Pass {{inspection.result.length}}/{{inspection.result.length}}</div>
    <div class="ui-g-8 tomato" *ngIf="inspection.status === 'Fail'">
      Fail {{getFailCount(inspection)}}/{{inspection.result.length}}</div>
  </div>
  <mat-divider></mat-divider>

  <div class="ui-g" *ngFor="let result of inspection.result">
    <div class="ui-g-3">
      <span *ngIf="result.result === 'Pass'">
        <i class="fas fa-check-square limegreen" style="font-size: 1.4rem"></i>
        Pass
      </span>
      <span *ngIf="result.result === 'Fail'">
        <i class="fas fa-exclamation-triangle tomato" style="font-size: 1.09rem"></i>
        Fail
      </span>
    </div>
    <div class="ui-g-6">{{result.item.title}}
    </div>
    <div class="ui-g-3 text-right">
      {{result.duration}} sec
    </div>
  </div>
  <mat-divider></mat-divider>

  <div class="ui-g">
    <div class="ui-g-6"> {{inspection.endTime | date:'medium' }}
    </div>
    <div class="ui-g-6 text-right">
      <div style="height: 300px">Signature
      </div>
      <div>
        {{inspection.performedBy}}
      </div>
    </div>
    <div class="ui-g-6">
    </div>
    <div class="ui-g-3">
    </div>
    <div class="ui-g-3 text-right">
      <button pButton type="button" class="ui-button-warning" label="DELETE"
        (click)="deleteInspection(inspection._id)"></button>
    </div>
  </div>
</p-dialog>
