<app-nav-menu></app-nav-menu>

<p-progressSpinner *ngIf="isLoading"></p-progressSpinner>

<p-tabView *ngIf="!isLoading">
  <p-tabPanel header="Inspections">
    <div class="p-grid">
      <!-- <div class="p-col orange-boarder spacer">Delayed<br />
        <h1 class="orange">32</h1>
      </div> -->
      <div class="p-col tomato-boarder spacer">Fail<br />
        <h1 class="tomato">{{failedCount}}</h1>
      </div>
      <div class="p-col limegreen-boarder spacer">Repaired<br />
        <h1 class="limegreen">{{repairedCount}}</h1>
      </div>
      <div class="p-col limegreen-boarder spacer">Pass<br />
        <h1 class="limegreen">{{passCount}}</h1>
      </div>
      <div class="p-col grey-boarder spacer">Completed<br />
        <h1>{{completedCount}}</h1>
      </div>
    </div>

    <p-table #dt [columns]="inspectionCols" [value]="inspections" [responsive]="true" [autoLayout]="true"
      sortField="startTime" sortOrder="-1" [paginator]="true" [rows]="10" [style]="{'margin-top': '20px'}">
      <ng-template pTemplate="caption">
        <div style="text-align: right">
          <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
          <input type="text" pInputText size="50" placeholder="Global Filter"
            (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
        </div>
      </ng-template>
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th class="text-center" *ngFor="let col of columns" [pSortableColumn]="col.field"
            [ngStyle]="{'min-width': col.width}">
            {{col.header}}
            <p-sortIcon [field]="col.field" ariaLabel="Activate to sort"
              ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order">
            </p-sortIcon>
          </th>
          <th>View</th>
        </tr>
        <tr>
          <th *ngFor="let col of columns" [ngSwitch]="col.field">
            <p-multiSelect *ngSwitchCase="'plan.title'" [options]="planOptions" defaultLabel="All Plans"
              (onChange)="dt.filter($event.value, col.field, 'in')" appendTo="body"></p-multiSelect>
            <p-multiSelect *ngSwitchCase="'finalStatus'" [options]="statusOptions" defaultLabel="All"
              (onChange)="dt.filter($event.value, col.field, 'in')" appendTo="body"></p-multiSelect>
            <p-multiSelect *ngSwitchCase="'vehicle.rego'" [options]="vehicleOptions" defaultLabel="All"
              (onChange)="dt.filter($event.value, col.field, 'in')" appendTo="body"></p-multiSelect>
            <div *ngSwitchCase="'odometer'">
              Value > {{odometerFilter}} <i class="fa fa-close"
                (click)="odometerFilter=null;dt.filter(null, col.field, col.filterMatchMode)" style="cursor:pointer"
                *ngIf="odometerFilter"></i>
              <p-slider [style]="{'width':'100%','margin-top':'8px'}" [(ngModel)]="odometerFilter" [max]="200000"
                (onChange)="onOdometerChange($event, dt)"></p-slider>
            </div>
            <p-multiSelect *ngSwitchCase="'performedBy'" [options]="planOptions" defaultLabel="All Drivers"
              (onChange)="dt.filter($event.value, col.field, 'in')" appendTo="body"></p-multiSelect>
            <div *ngSwitchCase="'duration'">
              Value > {{durationFilter}} <i class="fa fa-close"
                (click)="durationFilter=null;dt.filter(null, col.field, col.filterMatchMode)" style="cursor:pointer"
                *ngIf="durationFilter"></i>
              <p-slider [style]="{'width':'100%','margin-top':'8px'}" [(ngModel)]="durationFilter" [max]="200"
                (onChange)="onDurationChange($event, dt)"></p-slider>
            </div>
          </th>
          <th>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-inspection let-columns="columns">
        <tr>
          <td>
            {{inspection.plan.title}}
          </td>
          <td>
            <span *ngIf="inspection.finalStatus==='Fail'">
              <i class="fas fa-exclamation-triangle tomato" style="font-size: 1.09rem"></i>
              {{getFailCount(inspection)}}/{{inspection.result.length}} Fail
            </span>
            <span *ngIf="inspection.finalStatus==='Repaired'">
              <i class="fas fa-check-square limegreen" style="font-size: 1.4rem"></i>
              {{getFailCount(inspection)}}/{{inspection.result.length}} Repaired
            </span>
            <span *ngIf="inspection.finalStatus==='Pass'">
              <i class="fas fa-check-square limegreen" style="font-size: 1.4rem"></i>
              {{inspection.result.length}}/{{inspection.result.length}} Pass
            </span>
          </td>
          <td>
            {{inspection.vehicle.rego}}
          </td>
          <td>
            {{inspection.startTime | date: 'medium'}}
          </td>
          <td>
            {{inspection.odometer}} km
          </td>
          <td>
            {{inspection.performedBy}}
          </td>
          <td>
            {{inspection.duration}} s
          </td>
          <td class="text-center">
            <p-button label="View" (click)=viewInspection(inspection._id)>
            </p-button>
          </td>

        </tr>
      </ng-template>
    </p-table>

  </p-tabPanel>
  <p-tabPanel header="Inspection plans">
    <div class="p-grid p-justify-between">
      <div class="p-col-2">
        <!-- <p>Select vehicle</p> -->
      </div>
      <div class="p-col-6 text-right">
        <p-button label="CREATE NEW PLAN" (click)="onCreatePlan()" icon="pi pi-plus"></p-button>
      </div>
    </div>
    <!-- <p>All vehicles Drop down list</p> -->
    <p-table [columns]="planCols" [value]="plans" [responsive]="true" [autoLayout]="true" sortMode="multiple">
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th class="text-center" *ngFor="let col of columns" [pSortableColumn]="col.field">
            {{col.header}}
            <p-sortIcon [field]="col.field" ariaLabel="Activate to sort"
              ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order">
            </p-sortIcon>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-plan let-columns="columns">
        <tr>
          <td>
            {{plan.title}}
          </td>
          <td>
            <p-panel header="{{plan.vehicles.length}} vehicles" [collapsed]="true" [toggleable]="true">
              <span *ngFor="let vehicle of plan.vehicles">
                {{vehicle.rego}} {{vehicle.make}} {{vehicle.model}}<br />
              </span>
            </p-panel>
          </td>
          <td>
            <span *ngIf="plan.frequency.type==='by time'">{{plan.frequency.note}}</span>
            <span *ngIf="plan.frequency.type==='by mileage'">{{plan.frequency.note}} km</span>
            <span *ngIf="plan.frequency.type==='by engine hours'">{{plan.frequency.note}} h</span>
          </td>
          <td>
            {{plan.lastModified | date:'medium'}}
          </td>
          <td class="text-center">
            <p-button label="Edit" [routerLink]='["/plans", plan._id]'>
            </p-button>
          </td>

        </tr>
      </ng-template>
    </p-table>
  </p-tabPanel>
</p-tabView>
